<br>
<br>
<h1 class="text-center merch-heading"> All About DCC</h1>

<h3 class=" text-center about-body"> The DePauw CompSci Club was founded in 2010 with the aim of catering to the many needs of DePauw students who have even the slightest interest in all things computer-related.
  The organization also connects current computer-science majors to DePauw alumni and provides numerous post-graduation opportunities for Senior membes. DCC's current President is Abdllah Salau, and its faculty adviser is Professor Khadija Stewart.</h3>
<br>
<div class="container" >
<%= image_tag "DepauwU-Logo.png", alt: "some txt", height: "30%", width: "30%", :style => "margin-left: 20%" %>
<%= image_tag "logo1.png", alt: "some txt", height: "30%", width: "30%", :style => "margin: auto" %>
</div>

<br>
