<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <h1 class="title">Abdullah's Sample Application</h1>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Signup", controller: "con1", action:"home" %></li>
        <li><%= link_to "Current User", controller: "con1", action:"home" %></li>
      </ul>
    </nav>
  </div>
</header>
